.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .loader {
    animation: loader-spin infinite 0.45s ease;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.dropzone {
  /* Fill the whole screen */
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  /* background-color: aqua; */
}

.formatButtonIsSelected {
  color: red;
}

.formatButtonIsNotSelected {
  /* color: yellow; */
}

.icon,
.loader {
  width: 2em;
  display: inline;
  margin-right: 40px;
  vertical-align: center;
}

.error {
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg)
    brightness(118%) contrast(119%);
}

@keyframes loader-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
